<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable 
               mode="md" 
               color="primary"
               (ionChange)="cambioCategoria( $event )"
               >

    <ion-segment-button mode="md" 
                        *ngFor="let categoria of categorias" 
                        [value]="categoria"
                        >

      <ion-label text-capitalize>{{categoria}}</ion-label>

    </ion-segment-button>

  </ion-segment>


</ion-header>

<ion-content color="dark">

  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
